.producto__container__all{
    margin-top: 1rem;
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: .7rem;
    padding: 2rem 0;
    gap: 1.6rem;
}