.producto__title_admin--h2{
    font-family: var(--roboto);
    font-size: 1.2rem;
}

.producto__title_admin--a{
    border: none;
    cursor: pointer;
    margin-top: .6rem;
    padding: 1rem;
    font-size: .9rem;
    color: #fff;
    font-family: var(--open-sans);
    background-color: var(--color-azul);
}

.producto__container__admin{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.6rem;
    background-color: #fff;
    border-radius: 1rem;
}

.producto__container__contenido__admin{
    width: 8rem;
    gap: 0.8rem;
    display: flex;
    flex-direction: column;
}

.producto__container__contenido__admin div{
    justify-content: center;
    column-gap: 14px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}