.filter{
    /* visibility: hidden;
    opacity: 0;
    order: 1; */
    display: none;
}

.header__container-input{
    outline: none;
}

.header__container{
    outline: none;
    justify-content: center;
    gap: 1rem;
}

.header__container:first-child{
    justify-content: space-evenly;
}